@import "setting.scss";

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
    padding: 2rem 0;
}
  
.carousel-track {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
    perspective: 1000px;
}
  
.carousel-slide {
    position: relative;
    width: 300px;
    height: 400px;
    transition: all 0.5s ease-in-out;
    opacity: 0.6;
    transform: scale(0.8) translateZ(-100px);

    @media (max-width: 768px) {
      width: 100px;
    }
  
    &.active {
      width: 1000px;
      height: 400px;
      opacity: 1;
      transform: scale(1) translateZ(0);
      transition: all 0.5s ease-in-out;
      z-index: 2;

      @media (max-width: 768px) {
        height: 300px;
      }
    }
  
    .carousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
}
  
.slide-title {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $white-color;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $main-font-orbitron;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}
  
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;

    @media (max-width: 768px) {
      display: none;
    }
  
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  
    &.prev {
      left: 1rem;
    }
  
    &.next {
      right: 1rem;
    }
}
  
.carousel-dots {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;

    @media (max-width: 768px) {
      bottom: 7rem;
      gap: 1rem;
    }
}
  
.carousel-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      width: 15px;
      height: 15px;
    }
  
    &.active {
      background: $main-color-orange;
      transform: scale(1.5);
    }
  
    &:hover {
      background: $main-color-orange-opacity;
      // background: rgba(255, 255, 255, 0.5);
    }
}