// Colors
$main-color-orange: #ff4d00;
$main-color-orange-opacity: #ff4d0083;
$white-color: #ffffff;
$beige-color: #f7e4cc;
$black-color: #000000;
$midle-grey-color: #606060;
$main-background-color: rgba(0, 0, 0, 0.95);

// Font style
$main-font-orbitron: "Orbitron", sans-serif;
$secondary-font-pacifico: "Pacifico", serif;