// Colors
$main-color-orange: #ff4d00;
$white-color: #ffffff;

// Font style
$main-font-orbitron: "Orbitron", sans-serif;
$secondary-font-pacifico: "Pacifico", serif;

// Font size
$font-size-logo: 1.5rem;
$font-size-txt-banner: 2rem;